mixin head()
	head
		title GURU GRAPHICS
		link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600" rel="stylesheet")
		link(href="assets/css/style.css" rel="stylesheet")

mixin feedbackbottomlink(leftlink, rightlink)
	div.gg-inner-row-2
		div.gg-inner-col-2
			p.text-right
				a.text-important.text-bold.underline-none(href="#") #{leftlink}
		div.gg-inner-col-2
			p
				a.text-important.text-bold.underline-none(href="#") #{rightlink}


mixin homeleftlink()
	div.gg-left-col
		ul.gg-nav-list.home-nav-list
			li
				a.link-orange.text-bold(href="#") Who we are
			li
				a.link-orange.text-bold(href="#") Our culture
			li
				a.link-orange.text-bold(href="#") What we believe
			li
				a.link-orange.text-bold(href="#") What we do
			li
				a.link-orange.text-bold(href="#") Project

mixin studiohomeleftlink()
	div.gg-left-col
		ul.gg-nav-list.home-nav-list
			li
				a.link-orange.text-bold(href="#") Sonia Saab
			li
				a.link-inverse.text-bold(href="#") Creative Director
			li
				a.link-orange.text-bold(href="#") Mokhter Hossain
			li
				a.link-inverse.text-bold(href="#") Web architect
			li
				a.link-orange.text-bold(href="#") Boris de Melo
			li
				a.link-inverse.text-bold(href="#") Ux Design Intern
			li
				a.link-orange.text-bold(href="#") Jag Panaich
			li
				a.link-inverse.text-bold(href="#") UX UI intern
			li
				a.link-orange.text-bold(href="#") Julien Montagnat
			li
				a.link-inverse.text-bold(href="#") Web developer intern
			li
				a.link-orange.text-bold(href="#") Pier Paolo Moro
			li
				a.link-inverse.text-bold(href="#") Graphic Design intern
			li
				a.link-orange.text-bold(href="#") Arnold Quarcoo
			li
				a.link-inverse.text-bold(href="#") UX Intern

mixin homeRightStatistic()
	div.gg-right-col
		ul.gg-nav-info.home-nav-list
			li.text-bold.text-keytext Guro facts
			li.text-bold.text-keytext Founded
			li.text-bold.text-body 2005
			li.text-bold.text-keytext Project done
			li.text-bold.text-body 327
			li.text-bold.text-keytext Satisfaction
			li.text-bold.text-body 99%
			li.text-bold.text-keytext Feedback
			li.text-bold.text-body 4.9/5

mixin aboutgurugraphic()
	div.gg-separator.gg-post-row
		div.gg-center-left-offset
			div.gg-inner-row-2.gg-post
				div.gg-inner-col-2
					img(src="assets/images/img-3.jpg")
				div.gg-inner-col-2
					h3.heading-post about guru graphics
					div ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <span class="text-bold">tempor</span> incididunt ut labore et dolore magna aliqua. Ut enim ad minim <span class="text-bold">veniam</span>, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute

						p.text-right
							a.text-important(href="#") more

mixin thehumansbehinds()
	div.gg-separator.gg-post-row
		div.gg-center-left-offset
			div.gg-inner-row-2.gg-post
				div.gg-inner-col-2
					img(src="assets/images/img-1.jpg")
				div.gg-inner-col-2
					h3.heading-post the humans behinds
					div It's all aobut who we really are: we've got <span class="text-bold">designers delopers</span>, various nerds and creeps, and hackers. All defferent professions, personalities and cultures, but what's in common is the passion for something, the will to go in the same direction and think in the same positive way. to <span class="text-bold">have fun and be creative</span>we don't want to die sitting at our desks, no way. <span class="text-bold">We want to make it our own way - go big or go home.</span>

						p.text-right
							a.text-important(href="#") more


mixin workwithateam()
	div.gg-post-row
		div.gg-center-left-offset
			div.gg-inner-row-2.gg-post
				div.gg-inner-col-2
					h3.heading-post work with a team
					div We have our way to do things, which combined with our excellent skillset, is an amazing deal for clients and other businesses as you can’t usually find such a level of expertise and professionalism combined to such a <span class="text-bold">client-friendly behaviour</span>, coming from a very flexible and fresh creative team.
						p.text-right
							a.text-important(href="#") more
				div.gg-inner-col-2
					img(src='assets/images/img-4.jpg')

mixin workwithateam2()
	div.gg-post-row
		div.gg-center-left-offset
			div.gg-inner-row-2.gg-post
				div.gg-inner-col-2
					h3.heading-post work with a team
					div We have our way to do things, which combined with our excellent skillset, is an amazing deal for clients and other businesses as you can’t usually find such a level of expertise and professionalism combined to such a <span class="text-bold">client-friendly behaviour</span>, coming from a very flexible and fresh creative team.
						p.text-right
							a.text-important(href="#") more
				div.gg-inner-col-2
					img(src='assets/images/workwithteam.jpg')


mixin homeform()
	.form
		.cross
			img.cross-button(src='assets/images/cross.jpg')
		.form-inner
			.heading.text-important
				h3.text-bold I have a project
			form
				label
					.text-form First Name
					div(style="position: relative")
						input.highwidth(type='text', name='fname')
						span.form-star *
				label
					.text-form Last Name
					div(style="position: relative")
						input.highwidth(type='text', name='lname')
						span.form-star *
				label
					.text-form Email Address
					div(style="position: relative")
						input.highwidth(type='text', name='eename')
						span.form-star *
				label
					.text-form Phone Number
					div(style="position: relative")
						input.highwidth(type='text', name='pname')
						span.form-star *
				label
					.text-form Subject
					div(style="position: relative")
						input.highwidth(type='text', name='sname')
						span.form-star *
				label
					.text-form Project Detalis
					div(style="position: relative")
						input.high-width(type='textarea', name='pname')
						span.form-star *
				label.form-button-level
					.text-primary
						a.form-send.text-bold.text-important sent

mixin homeform2()
	.form
		.cross
			img.cross-button(src='assets/images/cross.jpg')
		.form-inner
			.heading.text-important
				h3.text-bold Contact us
			form
				label
					.text-form First Name
					div(style="position: relative")
						input.highwidth(type='text', name='fname')
						span.form-star *
				label
					.text-form Last Name
					div(style="position: relative")
						input.highwidth(type='text', name='lname')
						span.form-star *
				label
					.text-form Email Address
					div(style="position: relative")
						input.highwidth(type='text', name='eename')
						span.form-star *
				label
					.text-form Phone Number
					div(style="position: relative")
						input.highwidth(type='text', name='pname')
						span.form-star *
				label
					.text-form Subject
					div(style="position: relative")
						input.highwidth(type='text', name='sname')
						span.form-star *
				label
					.text-form Message Detalis
					div(style="position: relative")
						input.high-width(type='textarea', name='pname')
						span.form-star *
				label.form-button-level
					.text-primary
						a.form-send.text-bold.text-important sent

mixin projectGallery(items)
	each item, i in items
		div.gg-inner-col-3
			img(src='assets/images/gallary/#{item.image}')
			p #{item.caption}

mixin projectGalleryOpacity(items)
	each item, i in items
		div.gg-inner-col-3
			if item.opacity == false
				img(src='assets/images/gallary/#{item.image}')
			else
				img.image-opacity(src='assets/images/gallary/#{item.image}')
			p #{item.caption}

mixin portfolioGallaryGrid(opacityIndex)
	div.gg-inner-row-2.gg-portfolio-grid
		- var imgs = [{image:'project-1.jpg', caption: 'Allsaint'},{image:'project-2.jpg', caption: 'The Entertainer'},{image:'project-3.jpg', caption: 'Domus'}, {image:'slide-1.jpg', caption: 'Outside Collective'},{image:'slide-2.jpg', caption: 'Population & Sustainabilty'},{image:'slide-3.jpg', caption: 'Chcisir'}, {image:'projects-final-1.jpg', caption: 'Find Your Job'},{image:'projects-final-2.jpg', caption: 'Chef De Ville'},{image:'projects-final-3.jpg', caption: 'Focal Point'}, {image:'projects-final-6.jpg', caption: 'London House'},{image:'projects-final-5.jpg', caption: 'Yoga'},{image:'projects-final-4.jpg', caption: 'Seba Digital'}, {image:'violetlight.jpg', caption: 'Violet Light'},{image:'upstream.jpg', caption: 'Upstream'},{image:'thepachas.jpg', caption: 'The Pachas'}]
		- imgs[opacityIndex].opacity =  false
		+projectGalleryOpacity(imgs)

mixin portfolioGallary(opacityIndex)
	div.gg-row
		div.gg-center-left-offset
			h2.heading-post our works
			div.gg-inner-row-2.gg-portfolio-grid
				+portfolioGallaryGrid(opacityIndex)
mixin address()
	div.address-list
		ul
			li
				h4 6 Bedford Park, Croydon, London, CRO2AP
			li
				h4 02087747155
			li
				<span class="gi gi-envelop"></span>&nbsp; hello@gurugraphic.co.uk
			li
				<span class="gi gi-mobile"></span>&nbsp; guru.graphics
mixin feedbackNav()
	.gg-row
		.gg-inner-col-2.feedback-nav
			a.left-nav
				img(src="assets/images/back.png")
			a.right-nav 
				img(src="assets/images/next.png")

mixin headermenu()
	div.gg-header-menu
		ul.gg-pull-right
			li
				a(href="#") guru
			li
				a(href="#") portfolio
			li
				a(href="#") service
			li
				a(href="#") studio

mixin headermenu1()
	div.gg-header-menu
		ul.gg-pull-right
			li
				a.text-body(href="#") guru
					ul.gg-sub-menu
						li
							a.text-body(href="#") our job
						li
							a.text-important(href="#") feedbacks
			li
				a(href="#") portfolio
			li
				a(href="#") service
			li
				a(href="#") studio

mixin headermenu2()
	div.gg-header-menu
		ul.gg-pull-right
			li
				a.text-body(href="#") guru
			li
				a(href="#") portfolio
			li
				a(href="#") service
			li
				a(href="#") studio
					ul.gg-sub-menu.text-right
						li
							a.text-body(href="#") our&nbsp;studio
						li
							a.text-important(href="#") join&nbsp;us
					